<main>
	<a href="/" class="button secondary">← Terug</a>
	<h1>{{data.title}}</h1>

	{{#each data.images}}
		<img src="/upload/{{this}}" width="100%"/>
	{{/each}}

	<h2>Omschrijving</h2>
	<p>{{data.description}}</p>

	<h2>Eigenschappen</h2>
	<ul>
		<li>Type: {{data.locationType}}</li>
		<li>Grootte: {{data.locationSize}} m<sup>2</sup></li>
	</ul>

	<h2>Voorzieningen</h2>

	<ul>
		{{#if data.services.water}}
			<li>Water</li>
		{{/if}}
		{{#if data.services.electricity}}
			<li>Electriciteit</li>
		{{/if}}
		{{#if data.services.threePhaseElectricity}}
			<li>Krachtstroom</li>
		{{/if}}
		<li>Aantal parkeer plaatsen: {{data.services.parkingPlaces}}</li>
	</ul>

	<h2>Neem contact op met de eigenaar</h2>
	<p>{{data.contactInformation.name}}</p>
	<ul>
		<li><a href="mailto:{{data.contactInformation.email}}">✉︎ {{data.contactInformation.email}}</a></li>
		<li><a href="tel:{{data.contactInformation.phone}}">☏ {{data.contactInformation.phone}}</a></li>
	</ul>
</main>